[submodule "vim/pack/dotfiles/start/vim-gruvbox8"]
	path = vim/pack/dotfiles/start/vim-gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule "vim/pack/dotfiles/start/ale"]
	path = vim/pack/dotfiles/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/dotfiles/start/fzf"]
	path = vim/pack/dotfiles/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvim/pack/adaedra/start/gruvbox8"]
	path = nvim/pack/adaedra/start/gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule "nvim/pack/adaedra/start/plenary"]
	path = nvim/pack/adaedra/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/adaedra/start/telescope"]
	path = nvim/pack/adaedra/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
